body{
    background: rgb(115, 118, 179);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(24, 0, 48);
    text-align: center;
}
h2{
    color: rgb(0, 0, 0);
}
.problem{
    max-width: 45%;
}
/* smaller, targeted size for the affinity diagram */
.affinity{
    max-width: 25%; /* scale down */
    height: auto;
}
.sketch{
    max-width: 20%;
}