body{
    background: rgb(74, 234, 0);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(24, 0, 48);
    text-align: center;
}
h2{
    color: rgb(0, 0, 0);
}
.problem{
    max-width: 1000px;
}
/* smaller, targeted size for the affinity diagram */
.affinity{
    max-width: 1000px; /* scale down */
    height: auto;
    display: inline-block; /* keep flow with other images/text */
}
.sketch{
    max-width: 500px;
    
}