@font-face {
    font-family: 'Aptos-Serif-Italic';
    src: url('fonts/Aptos-Serif.ttf');
}
body{
    background-color: black;
}
h1{
    
    margin: 0px; padding-top: 50px; text-align: center;
    font-size: 48px; font-weight: bold;
}
.horizontal-line{
    --line-width: 90%;
    margin-left: calc((100% - var(--line-width))/2); height: 2px; width: var(--line-width); background-color: rgb(2, 127, 165); margin-top: 10px; margin-bottom: 10px;
}
.info p{
    text-align: center;  font-weight:normal; font-size: 24px; color: grey;
}
h2{
    margin-left:5%; font-size: 24px; font-weight: bold;
}
h3{
    margin-left:7%; font-size: 18px; font-weight: bold;
}
p{
    margin-left:5%; font-size: 14px; font-weight: normal;
}